<footer class="page-footer font-small bg-dark pt-4">

  <div class="container">
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <h4 class="text-light">siga-nos nas redes sociais</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <ul class="social-network">
          <li>
            <a href="https://www.instagram.com/rulevaventura/" target="_blank" class="icon">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="https://www.youtube.com/channel/UC1LzOevP5UzpYFeCfETwBzA" target="_blank" class="icon">
                <i class="fa fa-youtube-play" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-copyright bg-dark text-center py-3">
      <span class="text-light">
        © 2021 Copyright: Amanda Rulevas
        <br>
        <a href="https://www.linkedin.com/in/amanda-rulevas-33423154/" target="_blank" class="icon">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
        </a>
      </span>

  </div>
</footer>