<div class="container-fluid">

  <div class="row">

    <div class="col-md-6" id="img-bg"></div>

    <div class="col md-6 mt-5 mb-5">

      <div class="row d-flex justify-content-center">

        <div class="col-md-10">

          <h1 class="text-center">cadastro</h1>

          <div class="form-group">
            <label for="nome">nome</label>
            <input class="form-control" type="text" name="nome" id="nome" placeholder="digite seu nome">
          </div>

          <div class="form-group">
            <label for="usuario">usuário</label>
            <input class="form-control" type="text" name="usuario" id="usuario" placeholder="digite seu usuário">
          </div>

          <div class="form-group">
            <label for="foto">link da foto</label>
            <input class="form-control" type="text" name="foto" id="foto" placeholder="digite o link da foto">
          </div>

          <div class="form-group">
            <label for="senha">senha</label>
            <input class="form-control" type="password" name="senha" id="senha" placeholder="digite sua senha">
          </div>

          <div class="form-group">
            <label for="confirmarSenha">confirmar senha</label>
            <input class="form-control" type="password" name="confirmarSenha" id="confirmarSenha"
              placeholder="digite sua senha novamente">
          </div>

          <div class="form-group">
            <label for="tipo">confirmar senha</label>
            <select class="form-control" name="tipo" id="tipo">
              <option>selecione um tipo de usuário</option>
              <option value="comum">comum</option>
              <option value="admin">admin</option>
            </select>
          </div>

          <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-danger mr-4">cancelar</button>
            <button type="submit" class="btn btn-success">cadastrar</button>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>